[submodule "common-lambdas"]
	path = common-lambdas
	url = git@github.com:alphagov/di-ipv-cri-common-lambdas
[submodule "acceptance-tests"]
	path = acceptance-tests
	url = git@github.com:alphagov/di-ipv-cri-fraud-test.git
